@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF-Reg";
  src: url("/font/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF-Med";
  src: url("/font/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF-Bold";
  src: url("/font/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "SF-Bold";
  font-weight: 700;
  font-size: 96px;
}
