@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SF-Reg";
  src: url("/font/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF-Med";
  src: url("/font/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SF-Bold";
  src: url("/font/SFPRODISPLAYBOLD.OTF") format("opentype");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "SF-Reg";
  overflow-x: hidden;
  color: white;
}

section div {
  @apply container px-4 lg:px-8 mx-auto;
}
